body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.player-container:fullscreen .controls, .app-container:fullscreen .navbar {
  display: none;
}

.player-container:fullscreen video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

video::-webkit-media-controls-fullscreen-button
{
  display: none !important;
}


.player {
  position: relative;
}

.player-container:fullscreen .player {
  position: static;
}

.player.player--controls .player-control {
  opacity: 1;
  transition: none;
}

.player-control {
  opacity: 0;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
  transition: opacity 1s;
  background: none;
  border: none;
  color: white;
  margin: 0;
  padding: 8px;
  border-radius: 100px;
}

.player-control:hover {
  background-color: rgba(255,255,255,.1);
}

.player-control svg {
  width: 30px;
  height: 30px;
}

.player-control.player-control--fullscreenexit {
  display: none;
}

*:fullscreen .player-control.player-control--fullscreen {
  display: none;
}

*:fullscreen .player-control.player-control--fullscreenexit {
  display: inline-block;
}

.remote button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.player-container {
  position: relative;
}


.recent-events {
  position: absolute;
  left: 0;
  top: 0;
}

.recent-events__item {
  background: rgba(0,0,0,.8);
  color: white;
  font-size: 1.5rem;
  border-radius: 10px;
  padding: 10px 20px;
  margin-top: 20px;
  margin-left: 20px;
}


.recent-events__item--message .recent-event__item__name {
  display: block;
  font-size: 1.2rem;
}

@media only screen and (max-width: 1024px) {
  .recent-events__item {
    font-size: 1rem;
  }
  .recent-events__item--message .recent-event__item__name {
    font-size: 1rem;
  }
}

*:fullscreen .recent-events__item {
  font-size: 3rem;
}

*:fullscreen .recent-events__item--message .recent-event__item__name {
  font-size: 2rem;
}

.reactions-selector {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
}

.reactions-selector button {
  height: 80px;
  background: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.7em;
}